@using System.Text.Json
@model FabricDeploymentManager.Models.UpdateFromExportModel

<h2>
  <span><a class="btn btn-sm h2-backarrow" asp-action="Index"><i class="fa fa-backward"></i></a></span>
  <span>Update from Export</span>
</h2>

<form id="deploy-from-export" method="post" action="UpdateFromExport" class="form-horizontal">

  <div class="row">

    <div class="col-4">

      <div class="mb-3">
        <label for="ExportName" class="form-label">Export Name</label>
        <select class="form-control form-select" id="ExportName" name="ExportName" >
        </select>
        <div id="no-exports" >
          There are no exports for this solution
        </div>
      </div>



      <div class="mb-3">
        <label for="SolutionName" class="form-label">Solution Name</label>
        <input class="form-control" id="SolutionName" name="SolutionName" readonly>
      </div>

      <div class="mb-3">
        <label for="Customer" class="form-label">Customer Name</label>
        <input class="form-control" id="Customer" name="Customer" value="hey ho" readonly>
      </div>

    </div>

    <div class="col-4">

      <div class="mb-3">
        <label for="TargetWorkspaceSelect" class="form-label">Target Workspace</label>
        <select class="form-control form-select" id="TargetWorkspaceSelect" name="TargetWorkspaceSelect" asp-items="Model.AvailableTargetWorkspaces">
        </select>
      </div>

      <input id="TargetWorkspace" name="TargetWorkspace" hidden />


      <div class="mb-3">
        <label for="UpdateType" class="form-label">Update Type</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="UpdateType" value="FullUpdate" id="FullUpdate" checked>
          <label class="form-check-label" for="FullUpdate">
            Full Update
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="UpdateType" value="ReportsOnly" id="ReportsOnly">
          <label class="form-check-label" for="ReportsOnly">
            Reports Only
          </label>
        </div>
      </div>

    </div>

  </div>

  <button id="update-solution" type="submit" class="btn btn-primary">
    <i class="fa fa-user-plus"></i>
    Update Solution
  </button>

</form>

@section Scripts {
  <script type="text/javascript">

    let exports = @Html.Raw(JsonSerializer.Serialize(Model.ExportsDictionary))

    $(() => {

      let targetWorkspace = $("#TargetWorkspaceSelect option:selected").text();
      let targetWorkspaceValues = $("#TargetWorkspaceSelect option:selected").val().split("|");
      let customer = targetWorkspaceValues[0].substring(9);
      let solutionName = targetWorkspaceValues[1];
      $("#TargetWorkspace").val(targetWorkspace);
      $("#SolutionName").val(solutionName);
      $("#Customer").val(customer);

      let exportSelect = $("#ExportName");
      exportSelect.empty();

      let exportsForSolution = exports[solutionName];

      if(exportsForSolution == undefined || exportsForSolution == null){
        $("#ExportName").hide();
        $("#no-exports").show();
        $("#update-solution").attr("disabled", "disabled");
      }
      else {
        $("#ExportName").show();
        $("#no-exports").hide();
        $("#update-solution").removeAttr("disabled");

        $.each(exportsForSolution, (index, item) => {
          exportSelect.append($("<option>", {
            value: item,
            text: item
          }));
        });
      }

      $("#TargetWorkspaceSelect").on("change", function(){
        let targetWorkspace = $("#TargetWorkspaceSelect option:selected").text();
        let targetWorkspaceValues = $("#TargetWorkspaceSelect option:selected").val().split("|");
        let customer = targetWorkspaceValues[0].substring(9);
        let solutionName = targetWorkspaceValues[1];
        $("#TargetWorkspace").val(targetWorkspace);
        $("#SolutionName").val(solutionName);
        $("#Customer").val(customer);

        let exportSelect = $("#ExportName");
        exportSelect.empty();
             
        let exportsForSolution = exports[solutionName];

        if(exportsForSolution == undefined || exportsForSolution == null){
          $("#ExportName").hide();
          $("#no-exports").show();
          $("#update-solution").attr("disabled", "disabled");
        }
        else {          
          $("#ExportName").show();
          $("#no-exports").hide();
          $("#update-solution").removeAttr("disabled");
          
          $.each(exportsForSolution, (index, item) => {
            exportSelect.append($("<option>", {
                value: item,
                text: item
            }));
          });
        }       

      });

    });

  </script>
}