@using System.Security.Principal

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fabric Deployment Manager</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom">
      <div id="navbar-container" class="container">
        <a class="navbar-brand" id="logo" href="#">
          <img id="app-logo" src="@Url.Content("~/images/AppLogo.png")" style="width:36px;margin-right:8px;" />
          Fabric Deployment Manager
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <partial name="_LoginPartial" />
          <ul class="navbar-nav flex-grow-1">
            @if (User.Identity.IsAuthenticated) {
              <li class="nav-item top-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Workspaces</a>
              </li>
              <li class="nav-item top-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Connections">Connections</a>
              </li>
              <li class="nav-item top-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Capacities">Capacities</a>
              </li>
              <li class="nav-item top-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exports">Exports</a>
              </li>
              @if (ViewBag.EnableAdoLinks != null && ViewBag.EnableAdoLinks) {
                <li class="nav-item top-nav-item">
                  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdoProjects">ADO Projects</a>
                </li>
              }
            }
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/lib/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script type="text/javascript">
    $(() => {
      $("#logo").on("click", () => {
        var urlMonitor = window.location.origin + "/Home/AsyncOperationsMonitor";
        console.log("urlMonitor", urlMonitor);
        window.open(urlMonitor , '_blank');
      });
    });
  </script>
  @RenderSection("Scripts", required: false)
</body>
</html>
